<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="./assest/CSS/index.css">

</head>
<body>
    <%- include('./common/header.ejs')%>
    <div class="about">
    <img src="./assest/img/Swiggy-Journey.jpg" alt="" class="img-fluid">

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum reprehenderit neque debitis voluptatem exercitationem cupiditate consectetur quidem? Inventore molestias quo nemo placeat voluptas, commodi quasi, asperiores quisquam illum nihil impedit.
</div>

    <%- include('./common/footer.ejs')%>
</body>
</html>