<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food online from india</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./assest/CSS/paratha.css">
</head>

<body>
    <%- include('./common/header.ejs')%>


        <div class="container food-box">
            <h2>Paratha</h2>
            <small>Explore a wide variety of Parathas to satisfy your cravings.</small>

            <!--****************** scroll food items ************************** -->

            <div class="container scroll-box">
                <div class="carousel-view">

                    <div id="item-list" class="item-list">

                        <div class="Filter-text">
                            <a href="">Filter</a>
                        </div>
                        <div class="Filter-text">
                            <a href="">Sort.By</a>
                        </div>
                        <div class="Filter-text">
                            <a href="">Pure.Veg</a>
                        </div>
                        <div class="Filter-text">
                            <a href="">Less.then.30.min</a>
                        </div>
                        <div class="Filter-text">
                            <a href="">Rs.300Rs.600</a>
                        </div>
                        <div class=" Filter-text">
                            <a href="">Less.thenRs.300</a>
                        </div>

                    </div>

                </div>
            </div>

            <!--****************** scroll food items end ************************** -->

            <!--**************** paratha item ************************** -->

            <p>179 restaurants to explore</p>
            <div class="row row-cols-lg-4 row-cols-md-4">
                <div class="col-6 food-img-box">
                    <a href="/paratha-Add" class="food-img">
                        <img src="./assest/img/parath (1).jpg" alt="" class="img-fluid">
                        <div class="imt-text">
                            50% Off
                        </div>
                        <p>Madhu's Kitchen</p>
                        <b><i class="fa-solid fa-star"></i> 4.3 • 27 mins</b><br>
                        <small>North Indian, Indian Pushpanjali</small>
                    </a>
                </div>
                <div class="col food-img-box">
                    <a href="/paratha-Add2" class="food-img">
                        <img src="./assest/img/parath (2).jpg" alt="" class="img-fluid">
                       
                        <div class="imt-text">
                            15 Off  UPTO ₹125
                        </div>
                        <p>Raj Bhog</p>
                        <b><i class="fa-solid fa-star"></i> 4.1 • 30 mins</b><br>
                        <small> North Indian Rohini</small>
                    </a>
                </div>
                <div class="col-6  food-img-box">
                    <a href="/paratha-Add3" class="food-img">
                        <img src="./assest/img/parath (3).jpg" alt="" class="img-fluid">
                        <div class="imt-text">
                            50% Off
                        </div>
                        <p>Paschim Vihar Parathe</p>
                        <b><i class="fa-solid fa-star"></i> 3.8 • 31 mins</b><br>
                        <small>North Indian, Tandoor, Beverages</small>
                    </a>
                </div>
                <div class="col food-img-box">
                    <a href="/paratha-Add4" class="food-img">
                        <img src="./assest/img/parath (4).jpg" alt="" class="img-fluid">
                        <div class="imt-text">
                            15% OFF UPTO ₹40
                        </div>
                        <p>Delhi Cacies</p>
                        <b><i class="fa-solid fa-star"></i>4.5 • 38 mins</b><br>
                        <small>Kebabs, Biryani, Snacks Rohini Sec 14</small>
                    </a>
                </div>

                <!-- second row -->

                <div class="col-6 food-img-box">
                    <a href="/paratha-Add5" class="food-img">
                        <img src="./assest/img/parath (5).jpg" alt="" class="img-fluid">
                        <div class="imt-text">
                            ₹150 OFF UPTO ₹209
                        </div>
                        <p> Paschim vihar</p>
                        <b><i class="fa-solid fa-star"></i> 3.1 • 40 mins</b><br>
                        <small>North Indian, Chinese, Snacks, Beverage Paschim Viha</small>
                    </a>
                </div>
                <div class="col food-img-box">
                    <a href="/paratha-Add6" class="food-img">
                        <img src="./assest/img/parath (7).jpg" alt="" class="img-fluid">
                        <div class="imt-text">
                            50% OFF UPTO ₹139
                        </div>
                        <p>Perfect Plate</p>
                        <b><i class="fa-solid fa-star"></i> 3.8 • 42 mins</b><br>
                        <small>North Indian, Chinese, Italian, Seafood, Paschim Vihar</small>
                    </a>
                </div>
                <div class="col-6 food-img-box">
                    <a href="/paratha-Add7" class="food-img">
                        <img src="./assest/img/paraths (1).jpg" alt="" class="img-fluid">
                        <div class="imt-text">
                            ₹10 OFF UPTO ₹100
                        </div>
                        <p>Vinayak Restaurant</p>
                        <b><i class="fa-solid fa-star"></i> 4.1 • 32 mins</b><br>
                        <small>North Indian, Tandoor, Kebabs Paschim Vihar</small>
                    </a>
                </div>
                <div class="col food-img-box">
                    <a href="/paratha-Add8" class="food-img">
                        <img src="./assest/img/paraths (2).jpg" alt="" class="img-fluid">
                        <div class="imt-text">
                            ₹100 OFF ABOVE ₹499
                        </div>
                        <p>Shere- E - Punjab</p>
                        <b><i class="fa-solid fa-star"></i> 4.2 • 44 mins</b><br>
                        <small>North Indian, Mughlai Rajouri <br>Garden  </small>
                    </a>
                </div>
            </div>
            <!--**************** paratha item end ************************** -->
        </div>
        
</body>
</html>










